<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="header" th:fragment="header">
    <div class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">
                    <h1><img src="https://xiaosmie-blog-img.oss-cn-beijing.aliyuncs.com/18-12-26/75909101.jpg"
                             alt="logo"></h1>
                </a>

            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/user/index}">主页</a></li>
                    <li><a th:href="@{/user/addMission}">发布需求 </a></li>
                    <li class="dropdown"><a>我的任务 <i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu" th:if="${session.user}!=null">
                            <li><a th:href="@{/user/{userId}/missionList/1(userId=${session.user.id})}">尚未开始的任务</a></li>
                            <li><a th:href="@{/user/{userId}/missionList/2(userId=${session.user.id})}">正在进行的任务</a></li>
                            <li><a th:href="@{/user/{userId}/missionList/3(userId=${session.user.id})}">已经结束的任务</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a>个人中心 <i class="fa fa-angle-down"></i></a>
                        <ul role="menu" class="sub-menu">
                            <li><a th:if="${session.user}!=null"
                                   th:href="@{/user/userDetail/{userId}(userId=${session.user.id})}">我的信息</a></li>
                            <li><a th:if="${session.user}!=null"
                                   th:href="@{/user/submitMissionList/{userId}(userId=${session.user.id})}">我的发布</a>
                            </li>
                            <li><a th:if="${session.user}!=null" th:href="@{/user/twoSteps}">两步验证</a></li>
                            <li><a th:if="${session.user}!=null" th:href="@{/user/realNameAuth}">实名认证</a></li>
                            <li><a href="#">关于</a></li>
                        </ul>
                    </li>
                    <li th:if="${session.user}==null"><a th:href="@{/user/login}">登陆/注册</a></li>
                    <li th:if="${session.user}!=null" class="dropdown"><a href="#" th:text="${session.user.name}"></a>
                        <ul role="menu" class="sub-menu">
                            <li><a th:href="@{/user/logout}">注销</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="search">
                <form role="form">
                    <i class="fa fa-search"></i>
                    <div class="field-toggle">
                        <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">快递平台</h1>
                            <p>生活因需求而美好</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<!--/#header-->
</body>
</html>
