<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>home</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/definebyme/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link th:href="@{/definebyme/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic'
          rel='stylesheet'>

    <!-- Plugin CSS -->
    <link th:href="@{/definebyme/vendor/magnific-popup/magnific-popup.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/definebyme/css/creative.min.css}" rel="stylesheet">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">快递平台</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">关于</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#services">服务</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#portfolio">产品</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#contact">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1 class="text-uppercase">
                    <strong>给您提供优秀且性价比高的服务</strong>
                </h1>
                <hr>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5">使用快递平台可以帮助发送接收快递！只需些许步骤，即可发布您的需求！</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">了解更多</a>
            </div>
        </div>
    </div>
</header>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">我们这有您所需要的资源!</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">使用快递平台即可获得您的极速体验，使用我们的平台可以帮助您节省人力物力，优化您的使用体验</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">开始吧!</a>
            </div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">乐意为您效劳</h2>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
                    <h3 class="mb-3">稳定的支持</h3>
                    <p class="text-muted mb-0">我们的服务会定期更新升级，为您提供更好的服务</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
                    <h3 class="mb-3">快速的服务</h3>
                    <p class="text-muted mb-0">您可根据您的需要提出自定义需求</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
                    <h3 class="mb-3">最新的服务</h3>
                    <p class="text-muted mb-0">我们会与您保持联系，确保您所享受的服务是最新的</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
                    <h3 class="mb-3">用心的服务</h3>
                    <p class="text-muted mb-0">我们保证会用心为您服务</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="p-0" id="portfolio">
    <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" th:href="@{/definebyme/img/portfolio/fullsize/1.jpg}">
                    <img class="img-fluid" th:src="@{/definebyme/img/portfolio/thumbnails/1.jpg}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                食品
                            </div>
                            <div class="project-name">
                                Touch扫码点餐
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" th:href="@{/definebyme/img/portfolio/fullsize/2.jpg}">
                    <img class="img-fluid" th:src="@{/definebyme/img/portfolio/thumbnails/2.jpg}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                电商
                            </div>
                            <div class="project-name">
                                掌柜的秘密
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" th:href="@{/definebyme/img/portfolio/fullsize/3.jpg}">
                    <img class="img-fluid" th:src="@{/definebyme/img/portfolio/thumbnails/3.jpg}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                文化
                            </div>
                            <div class="project-name">
                                充电时间FM
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" th:href="@{/definebyme/img/portfolio/fullsize/4.jpg}">
                    <img class="img-fluid" th:src="@{/definebyme/img/portfolio/thumbnails/4.jpg}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                电商
                            </div>
                            <div class="project-name">
                                境外购物网站
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" th:href="@{/definebyme/img/portfolio/fullsize/5.jpg}">
                    <img class="img-fluid" th:src="@{/definebyme/img/portfolio/thumbnails/5.jpg}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                办公
                            </div>
                            <div class="project-name">
                                车来货往
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" th:href="@{/definebyme/img/portfolio/fullsize/6.jpg}">
                    <img class="img-fluid" th:src="@{/definebyme/img/portfolio/thumbnails/6.jpg}" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                运动
                            </div>
                            <div class="project-name">
                                健身房约课
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark text-white">
    <div class="container text-center">
        <h2 class="mb-4">使用快递平台</h2>
        <a class="btn btn-light btn-xl sr-button" th:href="@{/user/index}">立即使用</a>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading">联系我们</h2>
                <hr class="my-4">
                <p class="mb-5">准备好与我们一起开始您的项目？给我们打电话或发送电子邮件，我们会尽快给您回复</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center">
                <i class="fas fa-phone fa-3x mb-3 sr-contact-1"></i>
                <p>123-456-6789</p>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fas fa-envelope fa-3x mb-3 sr-contact-2"></i>
                <p>
                    <a href="mailto:your-email@your-domain.com">1226165225@qq.com</a>
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/definebyme/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/definebyme/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Plugin JavaScript -->
<script th:src="@{/definebyme/vendor/jquery-easing/jquery.easing.min.js}"></script>
<script th:src="@{/definebyme/vendor/scrollreveal/scrollreveal.min.js}"></script>
<script th:src="@{/definebyme/vendor/magnific-popup/jquery.magnific-popup.min.js}"></script>

<!-- Custom scripts for this template -->
<script th:src="@{/definebyme/js/creative.min.js}"></script>

</body>

</html>
